name: zdm
description: A flutter project help create direct download link.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# Read more about versioning at semver.org.
version: 1.0.0+1
publish_to: none

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  flutter_localizations:
    sdk: flutter

  #!! CORE ===================
  get: ^4.3.8
  sizer: ^2.0.15
  shared_preferences: ^2.0.6
  path_provider: ^2.0.5
  device_preview: ^0.7.4
  flutter_keyboard_aware_dialog: ^1.0.1
  google_fonts: ^2.1.0
  #!! UI ===================
  # ======= icons ==========
  unicons: ^2.0.2
  cupertino_icons: ^1.0.3
  # ======= Widget ==========
  another_flushbar: ^1.10.23
  material_dialog: ^1.0.0-nullsafety.1
  #!! UTILS ===================
  optimized_cached_image: ^3.0.0
  connectivity: ^3.0.6
  loading_skeleton: 1.0.2
  expressions: ^0.2.3
  validators: ^3.0.0
  xxtea: ^2.1.0
  uuid: ^3.0.3
  #!! SERVICES ===================
  dio: ^4.0.0
  sembast: ^3.1.0+2  ## local nosql DB
  pretty_dio_logger: ^1.1.1
  qr_code_scanner: ^0.5.2
  flutter_downloader: ^1.7.1
  timeago: ^3.1.0
  flutter_svg: ^0.23.0+1
  permission_handler: ^8.2.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  analyzer: ^2.7.0
  mockito: ^5.0.16
  flutter_launcher_icons: ^0.9.2
  flutter_native_splash: ^1.2.4
  flutter_rename_app: ^1.0.0
  flutter_gen: ^4.0.1
dependency_overrides:
  yaml: ^3.1.0

# The following section is specific to Flutter.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  assets:
    - assets/images/icons/
    - assets/images/app_images/

  fonts:
      - family: Inter
        fonts:
          - asset: assets/fonts/Inter-Thin.ttf
            weight: 100
          - asset: assets/fonts/Inter-Light.ttf
            weight: 300
          - asset: assets/fonts/Inter-Regular.ttf
          - asset: assets/fonts/Inter-Medium.ttf
            weight: 500
          - asset: assets/fonts/Inter-Bold.ttf
            weight: 700
          - asset: assets/fonts/Inter-Black.ttf
            weight: 900



#=======================================================================
# SET UP ASSETS-GENERATOR, ICON, SPLASH SCREEN AND APP INFO ============
#=======================================================================

# ========================================================================
# exec command ' flutter pub run flutter_native_splash:create ' in your the terminal
flutter_native_splash:
  image: assets/images/app_images/splash_logo.png
  color: "#edd984"
  android_gravity: center
  ios_content_mode: center
  ios: true
  android_disable_fullscreen: false

# ========================================================================
# exec command ' flutter pub run flutter_launcher_icons:main ' in your the terminal
flutter_icons:
  android: true
  ios: true
  image_path: assets/images/app_images/launcher_icon.png

# ========================================================================
# exec command ' flutter pub run flutter_rename_app ' in your the terminal

flutter_rename_app:
  application_name: ZDM Downloader
  dart_package_name: zdm
  application_id: com.satulayar.zdm
  # IOS APP ID
  bundle_id: com.satulayar.zdm
  # ANDROID APP ID
  android_package_name: com.satulayar.zdm

# ========================================================================
  # how to install asset generator exec -> dart pub activate flutter_gen
  # exec command ' fluttergen -c pubspec.yaml ' in your the terminal

flutter_gen:
  output: lib/config/constants/ # Optional (default: lib/gen/)
  lineLength: 80 # Optional (default: 80)
  # Optional
  integrations:
    flutter_svg: true
    flare_flutter: false
  colors:
    inputs:
      - assets/color/colors.xml
  #========================================